.weather-dashboard {
    height: 100vh; /* Make sure the height takes the full viewport height */
    width: 100vw; /* Make sure the width takes the full viewport width */
    background-color: #1e1f24;
    font-family: monospace;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1.5fr; /* Adjusting the fractions to fit better */
    grid-template-rows: 0.3fr 0.8fr 1.2fr 0.5fr; /* Adjusting the fractions to fit better */
    grid-template-areas: 
        "left-bar top-bar top-bar"
        "left-bar forecast map"
        "left-bar today-weather temp-graph"
        "left-bar bottom-bar bottom-bar"
    ;
    border: 1px solid #000;
    gap: 1.5em;
}

/* top bar */
.top-bar{
    grid-area: top-bar;
    font-family: monospace;
    color: white;
    margin-top: 2em;
    margin-right: 1.5em;
    display: flex;
    align-items: flex-end;
}

.profile img{
    height: 40px;
    border-radius: 100%;
    margin-right: 1em;
}



.profile-text .date{
    font-size: xx-large;
}








