/* today weather */
.today-weather{
    grid-area: today-weather;
}
.today-weather-content{
    height: 100%;
    width: 100%;
    background-color: #2e2e38;
    border-radius: 1.5em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Adjusting the fractions to fit better */
    grid-template-rows: 1fr 1fr; /* Adjusting the fractions to fit better */
    grid-template-areas: 
    "humidity windstatus sun"
    "visibility sealv localtime";
    gap:1em;

    padding: 1em;
    
}
.today-weather-content > * {
    position: relative;
    border-radius: 1.5em;
    background-color: #1e1f24;
}


.humidity{
    position: relative;
    color: #c9e6ea;
    grid-area: humidity;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.humidity .unit{
    position: absolute;
    margin-bottom: 3%;
}


.box-name{
    color: black;
    font-size: 0.8vw;
    margin: 0.7vw;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    border-radius: 0.5em;
    top: 0;
    left: 0;
    background-color: #c9e6ea;   
}

.gauge-chart{
    height: 70%;
    width: 80%;
    margin-bottom: 1em;
}



/* wind box */

.windstatus{
    position: relative;
    color: #c9e6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.windstatus .unit{
    position: absolute;
    margin-bottom: 3%;
}

.windtext{
    font-size: 10vw;
}

.pressure{
    position: relative;
    color: #c9e6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.pressure .unit{
    position: absolute;
    margin-bottom: 3%;
}

.gauge-text{
    font-size: 10vw;
}



/* sun box */
.sun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Center align items horizontally */
}

.sun-time {
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.2vw;
    color: #c9e6ea;
    height: 20%;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Center align items vertically */
}

.sun-time img {
    margin-right: 0.5vw;
    max-height: 100%; /* Ensure the image height does not exceed its container */
    max-width: 100%; /* Ensure the image width does not exceed its container */
    object-fit: contain; /* Maintain aspect ratio while fitting inside the container */
}


/* visibility */
.visibility {
    color: #c9e6ea;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.visibility .value{
    margin-left: 0.5em;
    text-align: center;
    font-size: 2vw;
}

.visibility .unit{
    text-align: center;
    font-size: 1vw;
}


/* wind direction */
.wind-direction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.compass svg{
    font-family: monospace;
    font-weight: bold;
    height: 8vw;
}




/* temp graph */
.temp-graph{
    grid-area: temp-graph;
}
.temp-graph-content{
    height: 100%;
    width: 100%;
    background-color: #2e2e38;
    border-radius: 1.5em;
}